@prefix: 'april';
@btnPrefix:~ '@{prefix}-btn';

// highlight
@april-highlight-color: #fff;
@april-highlight-bg: #1890ff;
@april-highlight-border-color: #1890ff;

// default
@april-default-color: #000000d9;
@april-default-bg: #fff;
@april-default-border-color: #d9d9d9;

// disabled
@april-disabled-color: #00000040;
@april-disabled-bg: #f5f5f5;
@april-disabled-border-color: #d9d9d9;
